* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container-button-whatsapp {
    bottom: 2em;
    height: 6.6em;
    position: fixed;
    left: 3em;
    width: 6.6em;
    z-index: 9999;
    visibility: hidden;
}
.button-whatsapp {
    z-index: 9998;
}

.show-whatsapp {
    visibility: visible;
}

.show-whatsapp {
    animation: popup .3s ease-in-out;
    width: 6.6rem;
    height: 6.6rem;
    z-index: 999;
}

.hover-scale {
    transition: all .2s ease;
}

.hover-scale:active {
    transform: scale(1);
}

.hover-scale:hover {
    transform: scale(1.13);
}

@keyframes popup-whatsapp {
    0% {
        width: 0rem;
        height: 0rem;
    }
    50% {
        width: 0rem;
        height: 8rem;
    }
    100% {
        width: 6.6rem;
        height: 6.6rem;
    }
}


@media (max-width: 1020px) {
    .container-button-whatsapp {
        left: 0.3em;
        bottom: 0.3em;
    }

    .iconify {
        transform: scale(.6);
    }

    .hover-scale:active {
        transform: scale(.8);
    }
    
    .hover-scale:hover {
        transform: scale(.7);
    }
}